<section class="content-header">
    <h1>
        @TextosPaginas.Home_Dashboard
    </h1>

</section>
<!-- Main content -->
<section class="content" ng-init="home.load()">
    <div class="box box-primary">
        <div class="overlay" ng-show="home.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>
    </div>
</section>