
@{
    ViewBag.Title = "Politica de Privacidade";
}

<h2>Política de Privacidade</h2>
O Curtindo uma viagem é um aplicativo de controle de viagens.
Nele você conseguirá gravar e compartilhar suas viagens realizadas e as atividades realizadas nelas.
Para providenciar uma melhor experiência o aplicativo irá utilizar seu nome e e-mail para compartilhamento de viagem com seus amigos.
Ele também irá acessar seu GPS para gravar as informações de sua posição.
Por fim também gravaremos as fotos e vídeos tirados pelo aplicativo em um álbum compartilhado em seu google photos.
Essas fotos estarão com compartilhamento publico e poderão ser acessadas para qualquer um que tenha o link.
O curtindo uma viagem não irá disponibilizar os links publicamente e os utilizará apenas para exibir as imagens dentro do aplicativo.