
@{
    ViewBag.Title = "Termos de Serviço";
}

<h2>Termos de Servico</h2>
O Curtindo uma viagem é um aplicativo grátis para controle de viagem
O serviço é gratuíto, porém não garantimos a disponibilidade do serviço
Os dados gravados poderão ser excluídos sem prévio aviso.
O serviço poderá ser interrompido sem prévio aviso.
O aplicativo é código aberto e não comercial e seus fontes estão disponíveis no github
Caso tenha sugestão ou críticas estamos aceito a ouví-las
As fotos são gravadas no google e consumirão a cota do usuário
