.vs
Desenvolvimento/Fontes/Componentes
*.suo 
*.user 
bin 
obj 
*.pdb 
*.cache 
*_svn 
*.svn 
*.suo 
*.user 
*.bak
*.bkp
/Desenvolvimento/Fontes/CV.UI.Web/bin
/Desenvolvimento/Fontes/CV.UI.Web/obj/Debug
/Desenvolvimento/Fontes/CV.Model/bin/Debug
/Desenvolvimento/Fontes/CV.Model/obj/Debug
/Desenvolvimento/Fontes/CV.Data/bin/Debug
/Desenvolvimento/Fontes/CV.Business/bin/Debug
/Desenvolvimento/Fontes/CV.Business/obj/Debug
/Desenvolvimento/Fontes/CV.Data/obj/Debug
