.vs
Desenvolvimento/Fontes/Componentes
*.suo 
*.user 
bin 
obj 
*.pdb 
*.cache 
*_svn 
*.svn 
*.suo 
*.user 
*.bak
*.bkp
/Desenvolvimento/Fontes/CV.UI.Web/bin
/Desenvolvimento/Fontes/CV.UI.Web/obj/Debug
/Desenvolvimento/Fontes/CV.Model/bin/Debug
/Desenvolvimento/Fontes/CV.Model/obj/Debug
/Desenvolvimento/Fontes/CV.Data/bin/Debug
/Desenvolvimento/Fontes/CV.Business/bin/Debug
/Desenvolvimento/Fontes/CV.Business/obj/Debug
/Desenvolvimento/Fontes/CV.Data/obj/Debug
/Desenvolvimento/Fontes/CV.Database/bin/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile/bin/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile/obj/Debug
*.user
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.Droid/bin/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.Droid/obj/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/bin/iPhone/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/obj/iPhone/Debug
/Desenvolvimento/Fontes/Mobile/packages
/Desenvolvimento/Fontes/packages
/Desenvolvimento/Fontes/CV.Database/CV.Database.dbmdl
*.VC.opendb
*.VC.db filesv
*.jfm
/Desenvolvimento/Fontes/CV.Database/obj/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/bin/iPhoneSimulator/Debug
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/obj/iPhoneSimulator/Debug
/TK.CustomMap/packages
/TK.CustomMap/Sample/TK.CustomMap.Sample/TK.CustomMap.Sample/bin/Debug
/TK.CustomMap/Sample/TK.CustomMap.Sample/TK.CustomMap.Sample.Droid/bin/Debug
/TK.CustomMap/Sample/TK.CustomMap.Sample/TK.CustomMap.Sample.Droid/obj/Debug
/TK.CustomMap/Sample/TK.CustomMap.Sample/TK.CustomMap.Sample/obj/Debug
/TK.CustomMap/Sample/TK.CustomMap.Sample/TK.CustomMap.Sample.iOS/obj/iPhone/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap/bin/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap/obj/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap.Android/bin/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap.Android/obj/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap.iOSUnified/bin/iPhone/Debug
/TK.CustomMap/TK.CustomMap/TK.CustomMap.iOSUnified/obj/Debug
/Desenvolvimento/Fontes/CV.Business/obj/Release
/Desenvolvimento/Fontes/CV.Business/bin/Release
/Desenvolvimento/Fontes/CV.Data/bin/Release
/Desenvolvimento/Fontes/CV.Data/obj/Release
/Desenvolvimento/Fontes/CV.Model/bin/Release
/Desenvolvimento/Fontes/CV.Model/obj/Release
/Desenvolvimento/Fontes/CV.UI.Web/obj/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile/bin/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile/bin/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile/obj/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.Droid/bin/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.Droid/obj/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/obj/iPhone/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap/bin/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap/obj/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap.Android/bin/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap.Android/obj/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap.iOSUnified/bin/Release
/TK.CustomMap/TK.CustomMap/TK.CustomMap.iOSUnified/obj/Release
/Desenvolvimento/Fontes/CV.Database/bin/Release
/Desenvolvimento/Fontes/CV.Database/obj/Release
/Desenvolvimento/Fontes/Mobile/CV.Mobile/CV.Mobile.iOS/obj
/TK.CustomMap/TK.CustomMap/TK.CustomMap.iOSUnified/obj
