<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Palharine.com.CV" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="Curtindo Uma Viagem">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAlUpOpwZWS_ZGlMAtB6lY76oy1QBWk97g" />
	</application>
</manifest>